@import url(global.css);
@import url(style-header.css);
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;300;400;500;700;900&family=VT323&family=Xanh+Mono&display=swap');
:root {
    --font-normal: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo: 'Roboto', sans-serif;
    --font-titulo2: 'VT23', monospace;
    --font-titulo3: 'Xanh Mono', monospace;
    --font-cursiva: 'Indie Flower', cursive, serif;

    --cor1: #242582;
    --cor2: #553D67;
    --cor3: #F64C72;
    --cor4: #99738E;
    --cor5: #2F2FA2;
}

html, body {
    font-family: var(--font-normal);

    height: 100vh;
}
main section.info-marca div.info-marca-img {

    width: 100%;
    height: 700px;

    background: url(../img/info-marca-img.jpg) center center no-repeat fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

main section.info-marca div.info-marca-text {
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);

    color: aliceblue;

    max-width: 800px;
    min-width: 500px;
    height: 400px;
    
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
}

main section.info-marca div.info-marca-text h1{
    font-size: 2em;
    font-family: var(--font-titulo2);
}

main section.info-marca div.info-marca-text p{
    font-size: 1.3em;
    font-family: var(--font-normal);

    text-align: justify;

    padding: 30px;
}

main section.vantagem-marca {
    background-color: var(--cor5);
    color: white;

    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main section.vantagem-marca div.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.vantagem-marca div.titulo h1 {
    font-size: 2em;
    font-family: var(--font-titulo2);
    margin: 20px 10px;
}

main section.vantagem-marca div.titulo div.logo img {
    width: 200px;
}

main section.vantagem-marca div.container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}

main section.vantagem-marca div.van {
    margin: 10px;
}

main section.vantagem-marca div.van ul li{
    list-style: square;
    list-style-position: inside;

    margin: 10px 0px;

    font-size: 1.5em;
    font-family: var(--font-titulo3);
}
