
header {
    width: 100%;
    height: 250px;

    background-color: var(--cor2);
    color: white;
}

header div p {
    font-size: 1.3em;
    font-family: var(--font-titulo3);
}

header div.menu {
    height: 50px;

    font-family: var(--font-titulo2);
}

header div.menu a {
    color: white;

    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte1);
    font-size: 1.3em;

    height: 100%;

    padding: 10px;

    transition: all .5s ease;
}

header div.menu a:hover {
    background-color: var(--cor3);

    cursor: pointer;
}

header div.menu ul {
    height: 50px;

    display: flex;
    align-items: center;
}

header div.menu ul li {
    list-style-type: none;
    padding: 0px 15px;

    width: 100%;
}


header div.info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    height: 200px;
}

header div.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}


